<%= form_for(@saving) do |f| %>
  <% if @saving.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@saving.errors.count, "error") %> prohibited this saving from being saved:</h3>

      <ul>
      <% @saving.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="field">
    <%= f.label "日付" %>
    <%= f.date_select :date, :use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label "お金" %>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit "送信", :class => "button" %>
  </div>
</fieldset>
<% end %>
