<!-- <p id="notice"></p> -->

<div class="row">
  <div class="large-12 columns large-centered">

    <div data-alert class="alert-box">
      <%= notice %>
    </div>
    <p>
      <strong>日付：</strong>
      <%= @saving.date %>
    </p>

    <p>
      <strong>お金:</strong>
      <%= @saving.price %> 円
    </p>
    <ul class="breadcrumbs">
      <li><%= link_to 'Edit', edit_saving_path(@saving) %></li>
      <li><%= link_to 'Back', savings_path %></li>
    </ul>

  </div>
</div>